@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-SemiBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 700;
}